* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1700px;
  width: 96%;
  margin: auto;
}

.header {
  padding-top: 80px;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left, .header-right {
  width: 50%;
}
.header-left {
  display: flex;
  justify-content: space-between;
}
.header-right {
  display: flex;
  justify-content: flex-end;
}
.header-menu {
  cursor: pointer;
}
.header-menu__button {
  background-color: #093cb5;
  padding: 15px 25px;
  border-radius: 50px;
  display: flex;
  align-items: center;
}
.header-menu__button span {
  font-size: 30px;
  color: #fff;
  margin-left: 10px;
}
.header-icons {
  position: relative;
  z-index: 99;
}
.header-icons img {
  margin-left: 20px;
  cursor: pointer;
}

.offer {
  padding-bottom: 240px;
}
.offer-wrap {
  display: flex;
  justify-content: space-between;
}
.offer-left {
  width: 40%;
}
.offer-right {
  width: 60%;
}
.offer-header {
  font-size: 128px;
  letter-spacing: -3px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 60px;
}
.offer-desc {
  font-size: 22px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 100px;
}
.offer-buttons {
  display: flex;
}
.offer-buttons a {
  padding: 30px 60px;
  border-radius: 50px;
  text-decoration: none;
  width: 300px;
  border: 3px solid #093cb5;
  text-align: center;
  transition: 0.2s;
  margin-right: 30px;
}
.offer-buttons a.btn-blue {
  background-color: #093cb5;
  color: #fff;
}
.offer-buttons a.btn-blue:hover {
  background-color: transparent;
  color: #093cb5;
}
.offer-buttons a.btn-white {
  color: #093cb5;
  border: 3px solid transparent;
  position: relative;
}
.offer-buttons a.btn-white::before {
  content: "";
  background-image: url("../img/CallMe.svg");
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 55px;
}
.offer-buttons a.btn-white:hover {
  border: 3px solid #093cb5;
}
.offer-image img {
  width: 100%;
  margin-top: -150px;
}

.why-wrap {
  background-image: url(../../img/why-bg2.png);
  background-repeat: no-repeat;
  border-radius: 100px;
  padding: 80px 100px;
  background-size: cover;
  background-position: center center;
}
.why-header {
  font-size: 96px;
  line-height: 100px;
  color: #fff;
  letter-spacing: -2px;
  margin-bottom: 150px;
}
.why-items {
  display: flex;
  justify-content: space-between;
}
.why-item {
  width: 30%;
}
.why-item img {
  margin-bottom: 25px;
}
.why-item p {
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}
.why-item p span {
  color: rgba(251, 251, 251, 0.45);
}

.scooters {
  padding: 250px 0;
}
.scooters-headwrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 130px;
}
.scooters-arrows {
  display: flex;
}
.scooters-arrows > div {
  background: rgba(0, 0, 0, 0.03);
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-left: 20px;
  cursor: pointer;
}
.scooters-header {
  font-size: 96px;
  line-height: 100px;
  letter-spacing: -2px;
  font-weight: 700;
  margin-top: 0px;
}
.scooters-item {
  width: 48%;
  display: flex !important;
  justify-content: space-between;
  padding: 60px;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  background: #FBFBFB;
  box-shadow: 0px 25px 15px 0px rgba(155, 161, 167, 0.2);
}
.scooters-left {
  width: 45%;
  margin-right: 70px;
}
.scooters-right {
  width: 55%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.scooters-text {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
  margin-top: 0;
}
.scooters-desc {
  font-size: 22px;
  line-height: 30px;
  color: #grey;
  margin-bottom: 50px;
}
.scooters-btn {
  background-color: #093cb5;
  color: #fff;
  padding: 20px;
  display: inline-block;
  border-radius: 30px;
  width: 220px;
  cursor: pointer;
}
.scooters-btn__label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.scooters-btn__label img {
  margin-right: 10px;
}
.scooters-btn__label span {
  font-size: 18px;
  line-height: 26px;
}
.scooters-btn strong {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}
.scooters-label {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #fff;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  padding: 16px;
  border-radius: 20px;
  background: #FF7474;
  box-shadow: 0px 2.76726px 2.21381px 0px rgba(155, 161, 167, 0.02), 0px 6.6501px 5.32008px 0px rgba(155, 161, 167, 0.03), 0px 12.52155px 10.01724px 0px rgba(155, 161, 167, 0.04), 0px 22.33631px 17.86905px 0px rgba(155, 161, 167, 0.04), 0px 41.77761px 33.42209px 0px rgba(155, 161, 167, 0.05), 0px 100px 80px 0px rgba(155, 161, 167, 0.07);
  border-radius: 20px;
  margin-right: 15px;
}
.scooters-image img {
  margin-top: -50px;
}

.slick-slide {
  margin: 0 15px 50px;
}

.slick-list {
  margin: 0 -15px;
}

.reviews-info {
  width: 40%;
}
.reviews-header {
  font-size: 96px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: -2px;
  margin-bottom: 380px;
  color: #000;
}
.reviews-model {
  color: rgba(0, 0, 0, 0.65);
  font-size: 22px;
  line-height: 30px;
}
.reviews-desc {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}
.reviews-block {
  display: flex;
}
.reviews-right {
  width: 60%;
}
.reviews-wrap {
  display: flex;
  justify-content: space-between;
}
.reviews-image img {
  width: 472px;
  height: 791px;
}
.reviews-text {
  margin-left: 85px;
}
.reviews-text p {
  color: rgba(0, 0, 0, 0.45);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  margin-top: 110px;
}
.reviews-text p span {
  color: #000;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}
.reviews-text span {
  color: #000;
  font-size: 22px;
  line-height: 30px;
}
.reviews-arrows {
  display: flex;
  margin-bottom: 230px;
}
.reviews-arrows > div {
  background: rgba(0, 0, 0, 0.03);
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-right: 20px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */